PySide6>=6.6; sys_platform == "win32"
PySide6-Essentials>=6.5.3; sys_platform == "linux"
pyte>=0.8.2; python_version >= "3.8"
pyte==0.8.1; python_version < "3.8"
pywinpty>=2.0; sys_platform == "win32"
